header{
    background-color: green;
text-align: center;
color: white;
padding:10px;
}
header a{
    margin: 10px;
}
.container{
    display:flex;
    padding: 20px;
    gap: 20px;
}
.left{
    width: 200px;
    background-color: white;
    border: 1px solid black;
    padding: 25px;
}
.content img{
    width:200px;
}
.content{
    flex: 1;
}
footer{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px;
}